body {
  color: #282828;
  font-family: Avenir-Next, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  background-color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 980px;
  margin: 0 auto;
}

.header {
  font-size: calc(10px + 2vmin);
}

p {
  margin-bottom: 1rem;
}

p.error {
  color: #ff0000;
}

.form {
  margin-bottom: 1rem;
}

.form__row {
  margin-bottom: 1rem;
}

.form__input {
  appearance: none;
  background: #ffffff;
  border: 2px solid #6e6e6e;
  border-radius: 5px;
  display: block;
  font-size: 1.4rem;
  height: 2rem;
  line-height: 1.5;
  outline: 0;
  padding: 0.5rem 0.75rem;
}

.form__label {
  font-weight: 500;
  display: block;
  margin: 0 0 0.5rem;
}

.button {
  display: inline-block;
  align-items: center;
  min-height: 3.25rem;
  padding: 1rem 1.25rem;
  color: #ffffff;
  background: #005878;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  border: 0;
  border-radius: 8px;
  transition: 0.15s ease-in-out;
  transition-property: all;
  transition-property: background-color, color;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #124948;
}
